<div ui-view class="lib-box animated">
  <div class="container">
    <div class="lib-types" style="transition-duration:0s;">
        <a ng-repeat="type in types" href="javascript:;" ng-click="filter(type.type)" ng-class="{is_active:isActive(type.type)}">{{type.title}}</a>
    </div>
    <div class="row libs-list">
        <div class="col-sm-6 col-md-4 col-lg-3 l_cell animated" ng-repeat="lib in libLists" style="-webkit-animation-delay:{{$index * 150}}ms;animation-delay:{{$index * 100}}ms">
            <div class="thumbnail">
                <a class="l_title" ui-sref="snippets.detail({id:lib.id})">
                    <p class="anilink anilink--mallki" href="#">{{lib.name}}<span data-letters="{{lib.name}}"></span><span data-letters="{{lib.name}}"></span></p>
                </a>
                <div class="caption l_caption">
                    <h3> 
                    <a ui-sref="snippets.detail({id:lib.id})" title="{{lib.name}}">{{lib.name}}</a>
                  </h3>
                    <p>
                        {{lib.des}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <a href="javascript:;" ng-click="filter()">1234</a>
    <a href="javascript:;" ng-click="filters()">1234</a> -->
  </div>
</div>
